<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sampleapp.dailymotion"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.sampleapp.dailymotion.MyApp"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:networkSecurityConfig="@xml/network_security_config"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.sampleapp.dailymotion.SampleActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
